body {
    font-family: 'Montserrat', sans-serif;

}

header {
    background: #BBBBBB;
    padding: 10px 0;
    width: 100%;

}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    text-transform: uppercase;
    
}

.banner {
    width: 100%;
}

.principal {
    text-align: center;
}

.titulo-principal {
    font-style: italic;
    padding-top: 20px;
    
}

.principal p {
    text-align: center;
    margin: 0 0 1em;
}

img {
    width: 45%;
    height: 100%;
}


nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 35px;
    font-size: 24px;
    font-weight: bold;
}

#missao {
    font-size: 20px;
    padding-bottom: 25px;
}

img {
    text-align: center;
}

.cabecalho {
    text-align: center;
    padding: 40px 0;
    color: #888888;
}

