body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(25deg, rgb(180, 54, 54), transparent);

}

header {
    background: #f3caca;
    padding: 10px 0;
    width: 100%;

}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    text-transform: uppercase;
    
}

.banner {
    width: 100%;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.principal {
    text-align: center;
}

.titulo-principal {
    font-style: italic;
    padding-top: 20px;
    
}

.produto-principal {
    font-size: 25px;
}

.principal p {
    text-align: center;
    margin: 0 0 1em;
    
}

img {
    width: 45%;
    height: 100%;
}


nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 35px;
    font-size: 24px;
    font-weight: bold;
}

.whatsapp-link {
    position: fixed;
    margin: 0 0 0 35px;
    width: 80px;
    height: 80px;
    bottom: 40px;
    right: 60px;
    background-color: #25d366;
    color: #fff;
    border-radius: 80px;
    text-align: center;
    font-size: 40px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 20px;
}

main {
    width: 90%;
    height: 75%;
    padding-top: 40px;
    text-align: center;
    
}

.produto1 {
    display: inline-block;
    text-align: center;
    width: 35%;
    vertical-align: top;
    margin:  1.5%;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
    padding-bottom: 20px;
    font-size: 20px;

}

.produto2 {
    display: inline-block;
    text-align: center;
    width: 35%;
    vertical-align: top;
    margin:  1.5%;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
    padding-bottom: 20px;
 
}

.colar3 {
    display: inline-block;
    text-align: center;
    width: 35%;
    height: 60%;
    vertical-align: top;
    margin:  1.5%;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
    padding-bottom: 20px;
    font-size: 20px;

}


.produto4 {
    display: inline-block;
    text-align: center;
    width: 35%;
    vertical-align: top;
    margin:  1.5%;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
    padding-bottom: 20px;
    font-size: 20px;
}

.produto5 {
    display: inline-block;
    text-align: center;
    width: 35%;
    vertical-align: top;
    margin:  1.5%;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
    padding-bottom: 20px;


}

.produto6 {
    display: inline-block;
    text-align: center;
    width: 35%;
    vertical-align: top;
    margin: 10px 1.5%;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
    padding-bottom: 20px;
}

.botao {
    text-decoration: none;
    font-size: 20px;
}


.cabecalho {
    text-align: center;
    padding: 40px 0;
    color: #0e0101;
}



