body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(25deg, rgb(180, 54, 54), transparent);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whatsapp-link {
    position: fixed;
    margin: 0 0 0 35px;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 60px;
    background-color: #25d366;
    color: #fff;
    border-radius: 80px;
    text-align: center;
    font-size: 40px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 15px;
}

*/ .botao {
    text-decoration: none;
    font-size: 20px;
}


.cabecalho {
    text-align: center;
    padding: 40px 0;
    color: #0e0101;
}

/*  */

.produtos-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.produto-item {
    max-width: 320px;
    margin: 10px;
}

h2 {
    font-size: 18px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 16px;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
}

@media (min-width: 420px) {
    .caixa {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    ul {
        display: flex;
        align-items: center;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        margin-right: 15px;
        font-size: 22px;
        color: #0e0101;
        font-weight: bold;
    }

    .botao {
        border: none;
        background: #888;
        font-size: 20px;
        border-radius: 5px;
        padding: 8px;
        color: aliceblue;

    }
    .produtos-card {
        flex-direction: row;
    }

    img {
        width: 350px;
        height: 350px;
    }


}


/* @media (min-width: 720px) {
    img {
        width: 400px;
        height: 400px;
    }
} */